<template name="header">
    <div class="brick">
        <img id="logo" src="/logoCODAFOOD2.png" alt="">

        <!--<img id="logo2" src="/logoCODAFOOD.png" alt="">-->
    </div>
    <!--<nav  role="navigation">-->
    <nav class="navbar navbar-default" role="navigation">
        <!--<img class="navbar-brand" src="/logo2.png" alt="">-->
        <div class="navbar-header">
            <!--<div class="nav-wrapper">-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'home'}}">Coda Food</a><br>

        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                <!--{{#if currentUser}}-->
                <li><a href="{{pathFor 'postSubmit'}}">INSCRIPTION</a></li>
                <br>
                <li>
                    <a class="panier" href="/panier">PANIER<i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i></a>

                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
                {{#if currentUser}}
                {{> categoriePage2}}
                {{/if}}

                <br>
                <a class="navbar-brand" href="/admin">Accounts Admin</a>
                <br>
                {{> adminTemplate}}



            </ul>
        </div>
        <!--<header class="col-md-12 jumbotron">-->
                <!--<p>{{> login}}</p>-->
            <!--<h1>-->
                <!--{{getGlobal 'appName' }} <br />-->
                <!--{{#if getGlobal 'appSlogan' }}-->
                <!--<small class="slogan">{{getGlobal 'appSlogan'}}</small>-->
                <!--{{/if}}-->
            <!--</h1>-->
        <!--</header>-->
    </nav>
</template>


<template  name="adminTemplate">
    <div class="admin">
    {{#if isAdminUser}}
    {{> admin}}
    <!--{{> accountsAdmin}}-->
    {{else}}
    Must be admin to see this...
    {{/if}}
    </div>
</template>


<template name="admin">

    <h1>BONJOUR ADMIN</h1>


</template>