<template name="categories">
    <div class="deb">
        <label class="control-label">{{name}}</label>
        {{#each categories}}

            <div class="conteneur_prodHo">
                <div class="TitreHome">
                    <b class="home">{{name}}</b>
                </div>
                <br>
                <img src="/{{image}}" class="prodHome"/>
                <br>
                <div class="bouton">
            <span class="">
            <a class="bouton_commande" href="/pages/{{name}}">Voir la liste</a>
            </span>
                </div>
            </div>

        {{/each}}
    </div>
</template>