<template name="categories">
    <div>
        {{#each categories}}
        <div class="conteneur_home">
            <div class="TitreHome">
                <b>{{name}}</b>
            </div>
            <br>
            <img src="/{{image}}" class="prodHome"/>
            <br>
            <div class="bouton">
            <span class="bouton_commande">
            <a class="bouton_commande_texte" href="/pages/{{name}}">Voir la liste</a>
            </span>
            </div>
        </div>
        <br>
        {{/each}}

    </div>
</template>