<template name="categoriePage">
  <h3> Nom : {{nom}}
      <br>
       Prénom : {{prenom}}
  </h3>
    <h4>
        Téléphone : {{tel}}
    </h4>
<h5>
    <!--{{typeR}}-->
    N° {{numeroR}} {{nomR}}
    <br>
    Code postal : {{cpV}}
    <br>
    Ville : {{ville}}
</h5>
</template>

<template name="categoriePage2">
    <div id="coord">
    <p> Nom : {{nom}}
        <br>
        Prénom : {{prenom}}
    </p>
    <p>
        Téléphone : {{tel}}
    </p>
    <p>
        <!--{{typeR}}-->
        N° {{numeroR}} {{nomR}}
        <br>
        Code postal : {{cpV}}
        <br>
        Ville : {{ville}}
    </p>
    </div>
</template>