<!--<template name="register">-->
    <!--<h1 class="text-center" >Enregistrement</h1>-->
    <!--{{#autoForm collection="Meteor.users" id="insertUser"}}-->

    <!--<fieldset>-->
        <!--<legend>Informations obligatoires</legend>-->
        <!--{{> afQuickField name="username"}}-->
        <!--{{> afQuickField name="password"}}-->
        <!--{{> afQuickField name="confirmation"}}-->
        <!--{{> afQuickField name="emails"}}-->
    <!--</fieldset>-->

    <!--<fieldset>-->
        <!--<legend>Informations facultatives</legend>-->
        <!--{{> afQuickField name="profile.firstName"}}-->
        <!--{{> afQuickField name="profile.lastName"}}-->
        <!--{{> afQuickField name="profile.phone"}}-->
        <!--{{> afQuickField name="profile.number"}}-->
        <!--{{> afQuickField name="profile.street"}}-->
        <!--{{> afQuickField name="profile.cp"}}-->
        <!--{{> afQuickField name="profile.city"}}-->
    <!--</fieldset>-->

    <!--<button type="submit" class="btn btn-primary">Valider</button>-->
    <!--{{/autoForm}}-->
<!--</template>-->



<!--<template name="register">-->
    <!--<form class="regist">-->
        <!--<legend>Inscription</legend>-->
        <!--<input type="text" name="username" placeholder="Votre pseudo" value=""/><br />-->
        <!--<input type="text" name="familyname" placeholder="Votre nom" value=""/><br />-->
        <!--<input type="text" name="firstname" placeholder="Votre prénom" value=""/><br />-->
        <!--<input type="text" name="phone" placeholder="Votre tél" value=""/><br />-->
        <!--<input type="text" name="number" placeholder="Votre numero de rue" value=""/><br />-->
        <!--<input type="text" name="street" placeholder="votre rue, avenue, boulevard" value=""/><br />-->
        <!--<input type="text" name="city" placeholder="Votre ville ou village" value=""/><br />-->
        <!--<input type="email" name="email" placeholder="votre email" value=""/><br />-->
        <!--<input type="password" name="password" placeholder="Votre mot de passe" value=""/><br />-->
        <!--<input type="submit" class="envoi" value="ENVOYER" />-->
    <!--</form>-->
<!--</template>-->



<!--<template name="formcommande">-->

    <!--<form class="validate">-->
        <!--<div class="formadress">-->
            <!--<div class="form-group">-->
                <!--<label for="nom">Nom :</label>-->
                <!--<input type="text" class="name form-control" name="username" required="required" placeholder="ex : dédé codeur...">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="codepost">Code postal :</label>-->
                <!--<input type="text" class="codepost form-control" name="codepost" required="required" placeholder="ex : 30100...">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="adress">Adresse de livraison :</label>-->
                <!--<input type="text" class="adress form-control" name="adress" required="required" placeholder="ex : chemin de coda...">-->
            <!--</div>-->

            <!--<button type="submit" class="btn btn-success center-block">Finaliser la commande</button>-->
        <!--</div>-->
    <!--</form>-->

<!--</template>-->